body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* forms */

.form-centered {
    margin: 0 auto;
}

.form-sm {
    width: 300px;
}

.field-validation-error {
    color: red;
}

/* PRIORITIES */

.priority-low { background: #F2FAFF;}
.priority-normal { background: white;}
.priority-high { background: #FFF2F2;}
.priority-urgent { background: #FFD4D4;}
.priority-immediate { background: #FFD4D4; font-weight: bold}

select option {
    background: white;
    font-weight: normal;
}
