body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* forms */

.form-centered {
    margin: 0 auto;
}

.form-sm {
    width: 300px;
}

.field-validation-error {
    color: red;
}

.list-commasepareted > li {
    display: inline;
}

.list-commasepareted > li:after {
    content: ",";
}
.list-commasepareted > li:last-child:after {
    content: "";
}

.popup-suggestion-box {
    display: block;
    margin: 0 20px 0 0;
    position: absolute;
    padding: 0;
    border: 1px solid #CCCCCC;
    background: white;
   /* width: 300px;*/
}

.popup-suggestion-box > li {
    display: block;
    border-bottom: 1px solid #CCCCCC;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    vertical-align: middle;
}

.popup-suggestion-box > li:last-child {
    border-bottom: none;
}

.regexp-found {
    font-weight: bold;
}

/* PRIORITIES */

.priority-low { background: #F2FAFF;}
.priority-normal { background: white;}
.priority-high { background: #FFF2F2;}
.priority-urgent { background: #FFD4D4;}
.priority-immediate { background: #FFD4D4; font-weight: bold}

select option {
    background: white;
    font-weight: normal;
}
