@model IEnumerable<ProjectManagement.WebUI.Models.TaskViewModel>

<table class="table">
    <tr>
        <th>Задание</th>
        <th>Ответственный</th>
        <th>Статус</th>
    </tr>

    @foreach (var task in @Model)
    {
        <tr class="@(task.PriorityCssClass)">
            <td>@Html.ActionLink(task.Name, "ViewTask", "Task", new { id = task.Id }, null)</td>
            <td>
                <ul class="list-commasepareted">
                    @foreach (var user in task.Users)
                    {
                        <li>@Html.ActionLink(user.Name, "UserPage", "Account", new { id = user.Id }, null)</li>
                    }
                </ul>
            </td>
            <td>@(task.Status)</td>
        </tr>
    }
</table>