@{
    Layout = "_Base.cshtml";
}

@section navigation
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> Иван Иванович Иванов
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Моя страница</a></li>
                    <li><a href="#">Мой аккаунт</a></li>
                </ul>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Выйти</a></li>
        </ul>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

@RenderBody()
