@{
    Layout = "_Base.cshtml";
}

@section navigation
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> @(User.Identity.Name)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("UserPage", "Account")">Моя страница</a></li>
                    <li><a href="#">Мой аккаунт</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("LogOff", "Account")"><span class="glyphicon glyphicon-log-in"></span> Выйти</a>
            </li>
        </ul>
    </div>
}

@RenderBody()
