@model ProjectManagement.WebUI.Models.LoginViewModel

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    @Html.ActionLink("Forgot password?", "ResetPass")
    <p><input type="submit" value="Log in" /></p>
}
